body {
    background-color: #fff;
}

.indent {
    padding-left: 15px;
}

.hidden {
    display: none;
}

#errors {
    display: none;
    color: #ff1493;
    background-color: #ffc0cb;
    border: 2px solid black;
}

#chat { 
    display: none;
}

#conversation { 
    border: 2px solid black;
    min-height: 400px;
}

.load-target {
    display : none;
    border: 2px solid black;
    background-color: #cdcdcd;
}